# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
*.env
*.env.*

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs and debug
*.log
*.pot
*.mo
*.sqlite3
*.db

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Editors / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS / Windows
.DS_Store
Thumbs.db

# mypy / type checking
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# FastAPI specific (optional)
# If using Uvicorn’s reload feature, it may create temporary files
*.pid


*.tar
